{% extends 'faceverifier/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load fontawesome_5 %}

{% block content %}
    <div class="container">
        <div class="col-12">
            <h1> Image upload</h1>
            <div class="card">
                <div class="card-header">
                    Upload Image
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <BR><input type="submit" class="btn btn-primary" name="" value="Upload"><br>
                            </form>
                            <div class="mt-50">
                            {% if no_face_detected %}
                                <br><br>
                                <h5>No face Detected {% fa5_icon 'frown' 'far fa-lg' %}</h5>
                            {% elif more_than_one_face_detected %}
                                <br> <h5>More than one face detected:(</h5>
                            {% elif img_obj %}
                                <h5>Succesfully uploaded {% fa5_icon 'smile' 'far fa-lg' %}</h5>
                            {% endif %}
                        </div>
                        </div>
                        <div class="col-6">
                            {% if img_obj %}
                                <img src="{{ img_obj.image.url }}" alt="connect" style="max-height:300px">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}